<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ project_url }}" class="project card text-dark">
    {%- if project_img -%}
    <img id="{{ project_id }}-img" class="card-img-top" src="{{ project_img }}" alt="{{ project_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ project_id }}-name" class="card-title">
          {%- if project_type == "remote" -%}
          <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
          {%- endif -%}
          <span style="font-size: 13pt; font-weight: bold;">{{ project_name }}</span>
          <br><span style="color: #606060; font-weight:900; font-size: 9pt;">{{ post.date | date_to_long_string}}</span>
      </h5> <!-- Added by Ankit : date in above line -->
      
      <p id="{{ project_id }}-desc" class="card-text"><span style="color: #606060; font-size: 10pt;">{{ project_desc }}</span></p>

      <p id="{{ project_id }}-tools" class="card-text">
        {%- for tool in project_tools -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
        {%- endfor -%}
       
      </p>
    </div>
  </a>
</div>
